body{
    text-align:center;
    background-color:lightgray;
    margin:5px 0;
}
header{
    background-color:lightcyan;
    padding:1% 0;
}
header h1{
    font-size:250%;
}
#description{
    padding:5% 15%;
    background-color:lightgoldenrodyellow;
    text-align:center;
}
#form{
    padding:2% 0;
    background-color:lightpink;
    text-align:center;
}
#cipher{
    display:block;
    width:50%;
    margin: 1% 25%;
height:40px;
}
#text{
    display:block;
    width:60%;
    margin-left: 20%;
    font-size:150%
}
.source{
    text-align:right;
}
footer{
    background-color:lightgreen;
    padding:1% 0;

}